/* Step 6 Create universal tag and set margin to 0
padding to 0 */
*{
    margin: 0;
    padding: 0;
    width:100%;
}
* {
    box-sizing: border-box;
  }
  
/* Step 7 select nav tag and provide the necessary styling*/
/* Step 22 target box class 
fix display,border,width,alignment*/

.box{
    
    text-align: center;
    width: 100%;
    margin: 6px;
    background-color: white;
  padding: 10px;
}

/* Step 23 fix image width*/




/*Step 25 select products class and set alignment to center 
and padding */
.products{
    text-align: center;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
}



  .box {
    float: left;
    width: 32.33%;
    padding: 10px;
  }
  .box img{    
    height: 250px;
      }
      
  
/*Step 26 Go back to html */


